body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.modal-dialog {
    width:600px;
}
.thumbnail {
    margin-bottom: 15px;
}

#addPhoto {
    width: 90px;
    height: 40px;
    margin: 10px;
}

#deletePhoto {
    width: 90px;
    height: 40px;
}

.photoContainer div {
    /*margin-right: 100%;*/
}

h2 {
    margin-left: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.viewOptions {
    margin-top: 50px;
    float: right;
}

.viewOptions button{
    width: 90px;
    height: 40px;
    margin: 10px;
}
